hw1/HW1-image.xlsx
hw1/HW1-Report.docx
hw2/HW2-image.xlsx
hw2/HW2-Report.docx
hw3/HW3-image.xlsx
hw3/HW3-Report.docx
hw4-1/HW4-1-image.xlsx
hw4-1/HW4-1-Report.docx
hw4-2/HW4-2-image.xlsx
hw4-2/HW4-2-Report.docx
slides/*
lab2/*